.ToolArray {
  display: flex;
  gap: 10px;
}

html {
  background-color: rgb(32, 62, 97);
  overflow: hidden;
}

#Main-canvas {
  background-color: white;
}
#Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1%;
  align-items: center;
}

#Brush-size {
  accent-color: black;
}

#Brush-color {
  margin-top: 6px;
}

#Navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
